body {
    font-family: "Montserrat", sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 0 0;
}

/* Title image */
.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Features */
#features {
    padding: 7% 15% 5%;
    background-color: #fff;
    position: relative;
}

.feature-col {
    text-align: center;
    margin-bottom: 2rem;
}

/* Heading of features */
.feature-heading {
    margin-top: 1rem;
}

/* feature image */
.feature-img {
    color: #ef8172;
}

.feature-img:hover {
    color: #ff4c68;
}

/* feature description */
.feature-desc {
    width: 70%;
    color: #8f8f8f;
    margin: 0 auto;
}

/* Testimonials section */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

/* testimonial image */
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 2%;
}

.carousel-item {
    padding: 7% 15%;
}

/* Press Section */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

/* press logo */
.press-logo {
    width: 15%;
    margin: 2% 2% 5%;
}

/* Price Section */
#pricing {
    padding: 5%;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

/* Call to Action Section */
#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

/* cta text */
.cta-heading {
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
    color: #fff;
}

/* cta button */
.cta-btn {
    margin: 5% 1% 0;
}

/* Footer Section */
#footer {
    text-align: center;
    padding: 7% 15%;
}

/* social media icons */
.icon {
    padding: 0 1%;
}

/* copyright text */
.copyright {
    margin-top: 2%;
}

/* Media Query for Mobile */
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        width: auto;
        transform: rotate(0);
        position: static;
        margin-top: 5%;
    }
}
